// container type

$typeA: 50px;
// $typeB: 30px;
$typeC: 20px;
$typeD: 15px;
$typeE: 10px;
$typeF: 5px;

// colors

$colorDarkMain: #1a1a26;
$colorDarkHeader: #1d1d29;
$colorDarkAbout: #1e1e2a;
$colorMed: #888890;
$colorLight: #fefeff;
$colorLightest: #fff;